body{
	
	margin: 0;
	overflow-x: hidden;

}

html{

	overflow-x: hidden;
}
.navbar{

	padding: 10px;

	
}

.navbar{
	background-color: #f2efff;

}


.navbar a {
	margin-right: 5px;
	color: black;

}

.navbar ul li{

	margin-right:  90px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.pgeback{


	background-color: #f2efff;

	
}

.banner{
	overflow-x: hidden;

}